body{
    font-family: 'Open Sans', sans-serif;
    

}
nav{
    /*background-color:#DADADA; */
}
li {
    list-style-type: none;
}
.firstnav{
    background-color: #DADADA;
    margin-left: -15px;
}
.mainbody{
    margin-top: 102px


}
.sidebar{
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 50px;
   background: linear-gradient(136.25deg, #1B75BB 0%, #00ADEE 100%) 
}
.sidebar a{
font-style: normal;
font-weight: bold;
line-height: normal;
font-size: 14px;
font-family: 'Khula', sans-serif;
color: #FFFFFF;


}
.navdropdwn{
   
    background-color: white;
    padding-top:12px;
    padding-left: 10px;
    padding-bottom: 12px;
    margin-bottom: -25px;
    margin-top: -55px;
}
.navdropdwn a{
     font-size: 14px;
}
.navdropdwn .handmaidtext{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 12px;
    color: #3B3B3B;
}
.search{
    padding-left: 20px;
    padding-right: 60px;
    margin-top: -40px;
    margin-right: 5px;
}
.search .btn{
     background: #FFFFFF ;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
    border-bottom: 1px solid rgba(189, 189, 189, 0.25);
    border-left: 1px solid rgba(189, 189, 189, 0.25);
    border-top: 1px solid rgba(189, 189, 189, 0.25);
    border-right: none;
    padding-top: 10px;

}
.fa-search{
    font-size: 14px;
color: #DADADA;
}
.fa-bell{
    color: #8CA0B3;
    font-size: 20px;
}
.fa-circle{
    font-size:7.88px;
    color: linear-gradient(172.24deg, #1B75BB 0%, #00ADEE 100%);
}
.avarterdrpdwn{
   color: #90A4AE;

}
.media img{
    border: 2px solid blue;
    border-radius: 50%;
}
.media-body h5{
    font-style: normal;
font-weight: bolder;
line-height: normal;
font-size: 12px;
text-align: left;

color: #31393C; 
}
.media{

}
.media-body .mail{
  font-family: 'Nunito', sans-serif;
  font-style: italic;
line-height: normal;
font-size: 9px;
text-align: left;

color: #90A4AE;

}
#alertdot{
    margin-top: -10px;
    margin-left: -19px;
    padding-top: 16px;
}
#bell{
    padding-top: 18px;

}
.search .form-control{
   background: #FFFFFF;
/* grey srokes */
 border-bottom: 1px solid rgba(189, 189, 189, 0.25);
    border-right: 1px solid rgba(189, 189, 189, 0.25);
    border-top: 1px solid rgba(189, 189, 189, 0.25);
box-sizing: border-box;/* card shadow */
box-shadow: 0px 2px 9px rgba(196, 196, 196, 0.11);
border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     border-left: none;
     

}
.nonedisplay{
    display: none;
}