body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Khula', sans-serif;
}
nav{
    /*background-color:#DADADA; */
}
li {
    list-style-type: none;
}
.dropdown{
    width: 265px;
    background-color: white;
    padding-top:12px;
    padding-bottom: 12px;
    margin-bottom: -15px;
    margin-top: -15px;
}
.dropdown a{
     font-size: 14px;
}
.dropdown .handmaidtext{
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #3B3B3B;
}
.search{
    padding-left: 30px;
    padding-right: 50px;
}
.search .btn{
     background: #FFFFFF ;
     border-top-left-radius: 3px;
     border-bottom-left-radius: 3px;
    border-bottom: 1px solid rgba(189, 189, 189, 0.25);
    border-left: 1px solid rgba(189, 189, 189, 0.25);
    border-top: 1px solid rgba(189, 189, 189, 0.25);
    border-right: none

}
.fa-search{
    font-size: 14px;
color: #DADADA;
}
.search .form-control{
   background: #FFFFFF;
/* grey srokes */
 border-bottom: 1px solid rgba(189, 189, 189, 0.25);
    border-right: 1px solid rgba(189, 189, 189, 0.25);
    border-top: 1px solid rgba(189, 189, 189, 0.25);
box-sizing: border-box;/* card shadow */
box-shadow: 0px 2px 9px rgba(196, 196, 196, 0.11);
border-top-right-radius: 3px;
     border-bottom-right-radius: 3px;
     border-left: none;
     

}
.nonedisplay{
    display: none;
}